*{
    margin: 0;
    padding: 0;
}
body {
    overflow-x: hidden;
}
.container{
     height: 810px;
     width: 100%;
     background-color: #1E1C30;
}
.box1{
    height: 120px;
    width: 860px;
    display: flex;
    justify-content: space-between;
    /* background-color: white; */
    margin: 0px auto;
}
.logo{
    height: 120px;
    width: 120px;
    text-align: start;
}
.logo img{
    padding: 10px;
}
.right-div{
    height: 71px;
    width: 250px;
    /* background-color: rgb(138, 35, 255); */
    margin: 20px;
    justify-content:center;
    align-items: center;
}
.login{
     height: 51px;
     width: 60px;
     font-size: 16px;
     font-weight: 400px;
     font-family: Arial;
     margin: 10px 20px 0px 0px;
     color: #ECC55C;
     border: 1px solid white;
     border-radius: 5px;
     background-color:  #1E1C30;
}
.Page{
     height: 51px;
     width: 123px;
     font-size: 16px;
     font-weight: 400px;
     font-family: Arial;
     margin: 10px 20px 0px 0px;
     color: #ECC55C;
     border: 2px solid #ECC55C;
     background-color:  #1E1C30;
}
.box-main{
    height: 425px;
    width: 860px;
    margin: 100px auto;
    display: flex;
    justify-content: space-between;
}
.box2{
    height: 415px;
    width: 425px;
    display: block;
} 
 .box3{
    height: 425px;
    width: 418px;
}
.box3 img{
    height: 425px;
    width: 365px;
   padding-left: 20px;
} 
.Dedicated-space{
    height: 148px;
    width: 745px;
}
.Dedicated-space h1{
    padding-top: 30px;
    font-size: 62px;
    color: #ffffff;
    text-align: start;
    line-height: 74px;
    position: relative;
}
.Memorial{
    height: 80px;
    width: 400px;
    margin-top: 70px;
}
.Memorial p{
    font-size: 14px;
    color: #ffffff;
    font-weight: 300px;
    font-family: Arial, Helvetica, sans-serif;
    line-height: 1.25rem;
}
.Create-Page{
    height: 52px;
    width: 240px;
    border: 1px solid #ECC55C;
    margin-top: 40px;
    display: flex;
}
.Create-Page p{
    height: 30px;
     width: 123px;
     font-size: 18px;
     font-weight: 700px;
     font-family: Arial, Helvetica, sans-serif;
     margin: 10px 10px 0px 0px;
     color: #ECC55C;
     background-color:  #1E1C30;
     padding-left: 20px;
}
.Create-Page img{
    height: 23px;
    width: 57px;
    margin: 15px;
}
.container2{
    height: 763px;
    width:  999px;
}
.outer-div{
    width: 100vw;
    height: 183px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.div1{
    height: 183px;
     width: 840px;
}
.div1-box{
    height: 32px;
    width: 840px;
    background-color: #ECC55C;
}
.heading{
  margin-top: 40px;
}
.heading h1{
     text-align: center;
     font-size: 50px;
     visibility: hidden;
}
.outer-main{
    width: 100vw;
    /* height: 600px; */
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-div{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box-main2{
    height: 600px;
    width: 995px;
    
    display: flex;
}
.Memorial-Page {
    height: 498px;
    width: 473px;
    display: block;
}
.Memorial-img img{
    height: 550px;
    width: 523px;
    /* margin-top: 30px; */
    border-radius: 10px;
}
.page1{
    height: 120px;
    width: 336px;
   
}
.page1 h1{
    font-size: 50px;
    color: #000000;
}
.page2{
    height: 224px;
    width: 473px;
    margin-top: 60px;
}
.page3{
    height: 60px;
    width: 473px;
    display: flex;
}
.page3-img{
    height: 60px;
    width:  60px;
    border-radius: 50%;
    background-color: #FFAFCA;
}
.page3-img img{
    height: 29px;
    width:  46px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    padding-top: 15px;
}
.funereal-page{
    height: 40px;
    width:  200px;
    margin: 15px;
}
.funereal-page p{
    font-size: 18px;
    color: #1E1E1E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800px;
}
.page4{
    height: 57px;
    width: 473px;
    margin-top: 30px;
    display: flex;
}
.page4-img{
    height: 56px;
    width:  57px;
    border-radius: 50%;
    background-color: #95D3DF;
}
.page4-img img{
    height: 29px;
    width:  46px;
    padding: 10px;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 0px 5px;
}
.Time{
    height: 20px;
    width:  399px;
    margin: 17px;
}
.Time p{
    font-size: 18px;
    color: #1E1E1E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800px;
}
.page5{
    height: 57px;
    width: 473px;
    margin-top: 30px;
    display: flex;
}
.page5-img{
    height: 56px;
    width:  57px;
    border-radius: 50%;
    background-color: #ECC55C;
}
.page5-img img{
    height: 29px;
    width:  46px;
    justify-content: center;
    align-items: center;
    padding: 15px 10px 0px 5px;
}
.financial{
    height: 40px;
    width:  399px;
    margin: 12px;
}
.financial p{
    font-size: 18px;
    color: #1E1E1E;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 800px;
}
.outer-work{
    height: 41px;
    width:  350px;
    /* justify-content: center;
    align-items: center; */
   
}
.work{
    height: 41px;
    width:  350px;
    margin-top: 50px;
}
.work a{
    text-decoration: none;
    font-size: 26px;
    color: #000000;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 5px;
    text-transform: uppercase;

}
.work img{
    height: 23px;
    width:  57px;
    margin-top: 12px;
    padding-left: 5px;
}
.container7{
    height:755px;
    display: flex;
}
.outer1-div{
    height:755px;
    width:525px;
    position: relative;
    text-align: center;
    justify-content: center;
    align-items: center;
    background-color: #95D3DF;
}
.image-1{
    height:458px;
    width:345px;
    position: absolute;
    top:12%;
    left:23%;
}
.image-2{
    height:459px;
    width:345px;
    position: absolute;
    top:15%;
    left:32%;
}
.image-3{
    height:458px;
    width:345px;
    position: absolute;
    top:25%;
    left:42%;
    overflow: hidden;
    transform: translateX(-0%);
    border-radius: 10px;
}
/* .image-3 img{
    width: 100%; /* Make the image fill the div */
    /* height: auto;  */
    /* transform: rotate(30deg);  */
/* }  */

.outer-maindiv{
    height:755px;
    width:819px;
    display: block;
}
.outer-div2{
    height:437px;
    width:819px;
    background-color: #ECC55C;
    justify-content: center;
    align-items: center;
}
 .memories1{
     width:100vw;
     height:400px;
     display: flex;
    justify-content: center;
    align-items: center;
} 
.memories{
    height:224px;
    width: 443px;
    margin:100px 650px -120px 0px;
    display: block;
}
.memories img{
    height: 80px;
    width: 67px;
}
.memories h1{
    font-size: 50px;
    color: #ffffff;
    font-family: 'Times New Roman', Times, serif;
    height: 120px;
    width: 443px;
    padding-top: 18px;
}

.outer-div3{
    height:320px;
    width:819px;
    background-color: #FFAFCA;
    margin: 0px;
    justify-content: center;
    align-items: center;
}
.outer-condol{
    width:100vw;
    height:90px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.condolences{
    height: 40px;
    width:400px;
    margin-right: 700px;
    justify-content: center;
}
.outer-condol{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.condolences p{
   font-size: 14px;
   color:#13111F;
   font-family: Arial, Helvetica, sans-serif;
   line-height: 20px;
   font-weight: 500;
}
.outer-learn{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.learnp{
    height: 42px;
    width:220px;
    margin-right: 870px;
    display: flex;
}
.learnp p{
    font-size: 16px;
    color:#13111F;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 500;
    padding-top: 20px;
 }
 .learnp img{
    height: 15px;
    width: 36px;
    margin-left: 15px;
    padding-top: 22px;
 }



















.container3{
    height: 752px;
    width:  100%;
    margin-top: 40px;
}
.outer-section1{
    width:100Vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section1{
    height: 32px;
    width: 842px;
    background-color: #1E1C30;
    margin-top: -48px;
}
.outer-section2{
    height:720px;
    /* width: 1046px; */
}
.outer-section3{
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.heading2{
    height: 60px;
    width: 840px;
    margin: 144px 0px 64px 0px;
}
.heading2 h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    color: #000000;
}
.outer-section4{
    width:100vw;
    display:flex;
    justify-content: center;
    align-items: center;
}
.section2{
    height: 500px;
    width: 900px;
    /* background-color: aqua; */
    gap:25px;
    display: flex;
    flex-direction: row;
}
.outer-details{
    height: 464px;
    width: 281px;
    padding: 0px 20px;
    display: block;
    /* background-color: palevioletred; */
}
.section3{
    height: 133px;
    width: 241px;
}
.heading3{
    height: 51px;
    width: 255px;
}
.heading3 h2{
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    margin: 0px 0px 0px 10px;
    font-weight: 800px;
    color:#000000;
}
.para1{
    height: 52px;
    width: 254px;
}
.para1 p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    line-height: 21px;
    margin: 8px 0px 32px 10px;
}
.outer-money{
    height: 464px;
    width: 281px;
    padding: 0px 20px;
}
.section4{
    height: 133px;
    width: 241px;
}
.heading4{
    height: 51px;
    width: 275px;
}
.heading4 h2{
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    margin: 0px 0px 0px 10px;
    font-weight: 800px;
    color:#000000;
}
.para2{
    height: 52px;
    width: 264px;
}
.para2 p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    line-height: 21px;
    margin: 8px 0px 32px 10px;
}
.outer-publish{
    height: 464px;
    width: 281px;
    padding: 0px 20px;
}
.section5{
    height: 133px;
    width: 241px;
}
.heading5{
    height: 51px;
    width: 255px;
}
.heading5 h2{
    font-size: 22px;
    font-family:'Times New Roman', Times, serif;
    margin: 0px 0px 0px 10px;
    font-weight: 800px;
    color:#000000;
}
.para3{
    height: 52px;
    width: 254px;
}
.para3 p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color:#000000;
    line-height: 21px;
    margin: 8px 0px 32px 10px;
}
.img1{
    height: 42px;
    width: 55px;
    position: absolute;
}
.sec2-img{
    height: 307px;
    width: 247px;
    margin: 24px 0px 0px 0px;
}
.sec2-img img{
    height: 307px;
    width: 247px;
}
.img2{
    height: 42px;
    width: 55px;
    position: absolute;
   
}
.sec3-img{
    height: 307px;
    width: 247px;
    margin: 24px 0px 0px 0px;
}
.sec3-img img{
    height: 307px;
    width: 247px;
}
.img3{
    height: 42px;
    width: 55px;
    position: absolute;
   
}
.sec4-img{
    height: 307px;
    width: 247px;
    margin: 24px 0px 0px 0px;
}
.sec4-img img{
    height: 307px;
    width: 247px;
}
.container4{
    height:800px;
    margin-top: 80px;
}
.heading6{
    height: 120px;
}
.heading6 h1{
    font-size: 50px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    margin-top: 48px;
    margin-right: 40px;
}
.flower-img{
    margin-top: 70px;
    height: 629px;
    width:300px;
}
.flower-img img{
    margin-top: 70px;
    height: 629px;
    width:300px;
}
.outer-images{
    height: 600px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap:10px;
}
.section-images{
    height: 600px;
    width: 1600px;
    white-space: nowrap;
    /* background-color: #ECC55C; */
    overflow-x: auto;
    
   overflow-y: hidden;

}
.div1-img{
    margin-top: 60px;
    height:403px;
    width:252px;
    background-color: #549697E6;
    border-radius: 1.5rem;
    text-align: start;
    margin-left: 0px;
    display: inline-block;
    margin-left: 5px;
    position:relative;
    overflow: hidden;
}
.div1-img img{
    height:403px;
    width:252px;
    display: block;
    border-radius: 1.5rem;
    filter: brightness(70%);
}


.div1-img h2{
    height:42px;
    width:252px;
    position: absolute;
    transform: translateX(-50%);
    font-size: 28px;
    color: #ffffff;
    left: 55%;
    bottom: 30px;
    
}
.overlay{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
}
.overlay .heading9 {
    height:42px;
    width:252px;
    position: absolute;
    transform: translateX(-50%);
    font-size: 28px;
    color: #ffffff;
    left: 48%;
    top: 80px;
    /* visibility: hidden; */
    /* margin: 0;
    font-size: 1.5rem; */
}

.overlay p {
    margin: 10px 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height:100px;
    width:250px;
    padding-left: 28px;
    color:white;
    text-align: start;
    line-height: 20px;
}

.overlay .img1 {
    visibility: visible;
    height:33px;
    width:73px;
    margin-top: 220px;
    margin-right: 150px;
}
.div1-img:hover .overlay{
    background-color: #549697E6;
}
.div1-img:hover .overlay {
    opacity: 1; 
    visibility: visible;
} 
 .div1-img:hover h2{
    visibility: hidden;
}
.div1-img:hover .heading9{
    visibility: visible;
}
.div1-img:hover img{
    /* filter: brightness(30%); */
    opacity: 0px;
}
 .div2{
    height:403px;
    width:252px;
    background-color: #549697E6;
    border-radius: 1.5rem;
    display: inline-block;
    margin-left: 25px;
    position:relative;
}
.div2 img{
    height:403px;
    width:252px;
    display: block;
    border-radius: 1.5rem;
    filter: brightness(70%);
    
}
.div2 h2{
    height:42px;
    width:252px;
    position: absolute;
    transform: translateX(-50%);
    font-size: 28px;
    color: #ffffff;
    left: 55%;
    bottom: 30px;
}
.overlay1{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
}
.overlay1 .heading10 {
    height:42px;
    width:252px;
    position: absolute;
    transform: translateX(-50%);
    font-size: 28px;
    color: #ffffff;
    left: 43%;
    top: 80px;
    visibility: visible;
}
.overlay1 .p6 {
    margin: 10px 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height:100px;
    width:250px;
    padding-left: 28px;
    color:white;
    text-align: start;
    line-height: 20px;
}
.overlay1 .img2 {
    visibility: visible;
    height:33px;
    width:73px;
    margin-top: 220px;
    margin-right: 150px;
}
.div2:hover .overlay1{
    background-color: #549697E6;
    border-radius: 1.5rem;
}
 .div2:hover .overlay1 {
    opacity: 1; 
    visibility: visible;
} 
 .div2:hover h2{
    visibility: hidden;
}
.div2:hover .heading10{
    visibility: visible;
} 
.div2:hover img{ 
      /* filter: brightness(30%); */
     opacity: 0px;
 } 

.div3{
    height:403px;
    width:252px;
    background-color: #549697E6;
    border-radius: 1.5rem;
    display: inline-block;
    margin-left: 25px;
    position:relative;
}
.div3 img{
    height:403px;
    width:252px;
    display: block;
    border-radius: 1.5rem;
    filter: brightness(70%);
    
}
.div3 h2{
    height:42px;
    width:252px;
    position: absolute;
    transform: translateX(-50%);
    font-size: 28px;
    color: #ffffff;
    left: 55%;
    bottom: 30px;
} 
.overlay2{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
}
.overlay2 .heading11{
    height:42px;
    width:252px;
    position: absolute;
    transform: translateX(-50%);
    font-size: 28px;
    color: #ffffff;
    left: 43%;
    top: 80px;
    visibility: visible;
}
.overlay2 .p7{
    margin: 10px 0;
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    height:100px;
    width:250px;
    padding-left: 28px;
    color:white;
    text-align: start;
    line-height: 20px;
}
.overlay2 .img3 {
    visibility: visible;
    height:33px;
    width:73px;
    margin-top: 220px;
    margin-right: 150px;
}
.div3:hover .overlay2{
    background-color: #549697E6;
    border-radius: 1.5rem;
}
 .div3:hover .overlay2 {
    opacity: 1; 
    visibility: visible;
} 
 .div3:hover h2{
    visibility: hidden;
}
.div3:hover .heading11{
    visibility: visible;
}  
 .div3:hover .img{ 
      /* filter: brightness(30%); */
     opacity: 0px; 
 } 

.div4{
    height:403px;
    width:252px;
    background-color: #549697E6;
    display: inline-block;
    border-radius: 1.5rem;
    margin-left: 25px;
    position:relative;
}
.div4 img{
    height:403px;
    width:252px;
    display: block;
    border-radius: 1.5rem;
    filter: brightness(70%);
}
.div4 h2{
    height:42px;
    width:252px;
    position: absolute;
    transform: translateX(-50%);
    font-size: 28px;
    color: #ffffff;
    left: 55%;
    bottom: 30px;
}
.overlay3{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
}
.overlay3 .heading12{
    height:42px;
    width:252px;
    position: absolute;
    transform: translateX(-50%);
    font-size: 28px;
    color: #ffffff;
    left: 43%;
    top: 80px;
    visibility: visible;
}
.overlay3 .p8{
    margin-top: 70px;
    font-size: 14px;
    top:100;
    font-family: Arial, Helvetica, sans-serif;
    height:100px;
    width:250px;
    padding-left: 28px;
    color:white;
    text-align: start;
    line-height: 20px;
}
.overlay3 .img4 {
    visibility: visible;
    height:33px;
    width:73px;
    margin-top: 35px;
    margin-right: 150px;
}
 .div4:hover .overlay3{
    background-color: #549697E6;
    border-radius: 1.5rem;
}
 .div4:hover .overlay3{
    opacity: 1; 
    visibility: visible;
} 
 .div4:hover h2{
    visibility: hidden;
}
.div4:hover .heading12{
    visibility: visible;
}  
.div4:hover .img{  
      /* filter: brightness(30%); */
      opacity: 0px; 
 } 
 


.div6{
    height:403px;
    width:252px;
    background-color: #549697E6;
    display: inline-block;
    border-radius: 1.5rem;
    margin-left: 25px;
    position:relative;
}
.div6 img{
    height:403px;
    width:252px;
    display: block;
    border-radius: 1.5rem;
    filter: brightness(70%);
}
.div6 h2{
    height:42px;
    width:252px;
    position: absolute;
    transform: translateX(-50%);
    font-size: 28px;
    color: #ffffff;
    left: 55%;
    bottom: 30px;
}
.overlay4{
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 0;
    left: 0; 
    width: 100%;
    height: 100%;
    color: white;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
}
.overlay4 .heading13{
    height:42px;
    width:252px;
    position: absolute;
    transform: translateX(-50%);
    font-size: 28px;
    color: #ffffff;
    left: 38%;
    top: 80px;
}
.overlay4 .p9{
    margin-top: 70px;
    font-size: 14px;
    top:100;
    font-family: Arial, Helvetica, sans-serif;
    height:100px;
    width:250px;
    padding-left: 28px;
    color:white;
    text-align: start;
    line-height: 20px;
}
.overlay4 .img5{
    visibility: visible;
    height:33px;
    width:73px;
    margin-top: 35px;
    margin-right: 150px;
}
 .div6:hover .overlay4{
    background-color: #549697E6;
    border-radius: 1.5rem;
}
 .div6:hover .overlay4{
    opacity: 1; 
    visibility: visible;
} 
 .div6:hover h2{
    visibility: hidden;
}
.div6:hover .heading13{
    visibility: visible;
}   
.div6:hover .img{  
      /* filter: brightness(30%); */
      opacity: 0px;  
}  
 
.container5{
    height:584px;
    background-color: #1E1C30;
}
.outer-container{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.outer-box1{
    height:258px;
    width: 1000px;
    margin:163px 0px 0px 0px;
    display: flex;
    justify-content: space-evenly;
}
.eiternal{
    height:258px;
    width: 248px;
    /* background-color: aqua; */
}
.outer-links{
    height:177px;
    width: 420px;
    display: flex;
    margin-left: 100px;
    gap:100px;
}
.about{
    height:200px;
    width: 80px;
    margin-top: 40px;
   display: block;
}
.about h2{
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
    color: #ECC55C;
}
.about p{
    line-height: 34px;
    color:#ffffff;
}
.about .p1{
    margin-top: 15px;
}
.about .p1:hover{
    color:#ECC55C;
    text-decoration: underline;
}
.about p:hover{
    color:#ECC55C;
    text-decoration: underline;
}
.links{
    height:177px;
    width: 70px;
    margin-top: 40px;
}
.links h2{
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
    color: #ECC55C;
}
.links p{
    line-height: 34px;
    color:#ffffff;
}
.links .p2{
    margin-top: 15px;
}
.links .p2:hover{
    color:#ECC55C;
    text-decoration: underline;
}
.links p:hover{
    color:#ECC55C;
    text-decoration: underline;
}
.categories{
    height:177px;
    width: 121px;
    margin-top: 40px;
}
.categories h2{
    font-size: 28px;
    font-family:Arial, Helvetica, sans-serif;
    color: #ECC55C;
}
.categories p{
    line-height: 34px;
    color:#ffffff;
}
.categories .p3{
    margin-top: 15px;
}
.categories .p3:hover{
    color:#ECC55C;
    text-decoration: underline;
}
.categories p:hover{
    color:#ECC55C;
    text-decoration: underline;
}
.logo-img img{
    height:104px;
    width: 148px;
}
.paragraph p{
    font-size: 14px;
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
    line-height: 19.6px;
}
.container6{
    height:115px;
    background-color: #13111F;
}
.outer-container6{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}
.main-container{
    height:16px;
    width:840px;
    display: flex;
    margin: 47px 0px;
    justify-content: space-between;
}
.rights{
    height:28px;
    width:218px;
}
.rights p{
    font-size: 14px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}
.policy{
    height:28px;
    width:218px;
}
.policy p{
    font-size: 14px;
    color: #ffffff;
    font-family: Arial, Helvetica, sans-serif;
}






















 @media(max-width: 913px) {
    .container{
        height: 1100px;
    }
    .box1{
        height: 120px;
        width: 100%;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
    }
    .right-div{
        visibility: hidden;
    }
    .logo{
        justify-content: center;
        align-items: center;
        height: 120px;
        width: 120px;
        vertical-align: middle;
    }
    
    .logo img{
        margin-left: 130px;
    }
    .box-main{
        height: 850px;
        width: 100%;
        margin: 0px 0px;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }
    .box3{
        height: 425px;
        width: 418px;
        justify-content: center;
        align-items: center;
        vertical-align: middle;
        padding: 0px;
        margin: 0px;
        
    }
    .box3 img{
        height: 475px;
        width: 365px;
        justify-content: center;
        padding-left: 23px;
  } 
  .box2{
    width:  100%;
   
}
 .Dedicated-space{
    height: 120px;
    width:  100%;
    justify-content: center;
    align-items: center;
    padding: 0px;
} 
.Dedicated-space h1{
    height: 120px;
    width:  100%;
    justify-content: center;
    font-size: 50px;
    text-align: center;
    line-height: 60px;
    margin-top: -20px;
}
.Memorial{
    height: 100px;
    width: 100%;
}
.Memorial p{
    font-size: 18px;
    line-height: 1.7rem;
    text-align: center;
    padding: 5px;
}
.Create-Page{
    height: 80px;
    width: 812px;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 80px 40px 0px 30px;
    border: 2px solid #ECC55C;
}
.Create-Page p{
    font-size: 30px;
    width: 340px;
    text-transform: uppercase;
    letter-spacing: 10px;
    font-weight: 800px;
    margin: 0px;
}
} 
@media(max-width: 875px){
   .Create-Page{
        width:  800px;
    }
   
} 
@media(max-width: 850px){
    .Create-Page{
        width:  780px;
}
}
@media(max-width: 835px){
    .Create-Page{
        width:  760px;
}
}
@media(max-width: 811px){
    .Create-Page{
        width:  740px;
}
}
@media(max-width: 805px){
    .Create-Page{
        width:  710px;
}
}
@media(max-width: 760px){
    .Create-Page{
        width:  680px;
}
}
@media(max-width: 730px){
    .Create-Page{
        width:  640px;
}
}
@media(max-width: 685px){
    .Create-Page{
        width:  610px;
}
}
@media(max-width: 660px){
    .Create-Page{
        width:  580px;
}
}
@media(max-width: 630px){
    .Create-Page{
        width:  550px;
}
}
@media(max-width: 600px){
    .Dedicated-space h1{
        height: 180px;
        width: 100%;
    }
    .Memorial{
        height: 150px;
        padding-top: 50px;
    }
    .Memorial p{
        padding: 10px;
        
    }
    .Create-Page{
        width:  520px;
}
}
@media(max-width: 563px){
    .Create-Page{
        width:  490px;
}
}
@media(max-width: 523px){
    .Create-Page{
        width:  460px;
}
}
@media(max-width: 496px){
    .Create-Page{
        width:  430px;
}
}
@media(max-width: 467px){
    .Create-Page{
        width:  400px;
}
.Create-Page p{
    font-size: 25px;
    width: 340px;
}
}
@media(max-width: 437px){
    .Create-Page{
        width:  370px;
}
.Create-Page p{
    font-size: 20px;
   
}
}
@media(max-width: 418px){

    .box3{
        width:  390px;
}
   .box3 img{
    padding-left: 10px;
}
  .Memorial{
    height: 165px;
  }
    .Create-Page{
        width:  340px;
}
.Create-Page p{
    font-size: 18px;
   font-weight: 800px;
}
}
@media(max-width: 395px){
    .container{
        height: 1150px;
    }
    .box3{
        width:  340px;
}
    .box3 img{
    width: 330px;
    padding-left: 10px;
}
    .Dedicated-space h1{
        height: 226px;
    }
    .Memorial{
        padding-top: 130px;
    }
    .Create-Page{
        margin-top: 80px;
        height: 50px;
    }
}
@media(max-width: 375px){
    .container{
        height: 1200px;
    }
    .Memorial{
        height: 180px;
    }
    .Create-Page{
        width:  310px;
        margin-top: 100px;
        height: 48px;
}
    .Create-Page p{
        font-size: 14px;
        font-weight: bold;
        line-height: 1.75rem;
    }
    .Create-Page img{
        margin-left: 0px;
    }
}
@media(max-width: 351px){
    .container{
        height:1300px;
    }
    .Dedicated-space h1{
        height: 280px;
    }
    .Memorial {
        height: 190px;
        padding-top: 240px;
    }
    .Create-Page{
        width: 290px;
    }
    .Create-Page p{
        line-height: 1.2rem;
        padding-left: 0px;
        padding-top: 5px;
    }
    .Create-Page img{
        margin-left: 0px;
    }
    
} 
@media(max-width:1000px){
    .container2{
        width: 100%;
    }
    .box-main2{
        width: 920px;
    }
    .Memorial-img img{
        width: 480px;
    }
}
@media(max-width:983px){
    .Memorial-img img{
       width: 450px;
    }
}
@media(max-width:931px){
    .Memorial-img img{
       width: 430px;
    }
}


  @media(max-width:913px){
    .container2{
        height: 1350px;
    }
    .outer-div{
        width: 100%;
    }
    .heading{
        margin-top: 40px;
        visibility: visible;
        justify-content: center;
      }
      .heading h1{
           text-align: center;
           font-size: 50px;
           visibility: visible;
           margin-top: 60px;
      }
      .div1{
        margin: 0px;
        height: 230px;
        width: 100%;
    }
    .div1-box{
        margin: 0px;
        height: 68px;
        width: 100%;
    }
    .page1{
        height: 120px;
        width: 336px;
        visibility: hidden;
    }
    .page1 h1{
        font-size: 50px;
        color: #000000;
        visibility: hidden;
    }
    .box-main2{
        margin: 120px 0px 0px 0px;
        flex-direction: column-reverse;
         justify-content: center;
        align-items: center;
       height: 943px;
   }
   .Memorial-Page{
    height: 595px;
    width:  100%;;
    /* padding: 0px 12px; */
   }
   .page2{
    height: 450px;
    width:  100%;
   }
   .Memorial-img img{
    /* justify-content: center;
    align-items: center;  */
    height: 398px;
 }
    .page3{
    margin-top: -100px;
    height: 123px;
    margin-left: 8px;
    width: 830px;
    /* padding-left: 5px; */
    padding: 0px 20px;
    background-color: #FFAFCA;
    border-radius: 25px; 
    align-items: center;
}
.page3-img{
    height: 60px;
    width: 60px;
    padding: 0px;
    align-items: center;
}
.page3-img img{
    padding: 0px;
    height: 49px;
}
.page4{
    height: 123px;
    width: 825px;
    /* padding: 0px 25px; */
    padding: 0px 20px;
    background-color: #95D3DF;
    border-radius: 25px; 
    align-items: center;
    margin-top: 10px;
    margin-left: 8px;
}
.page4-img{
    height: 57px;
    width: 67px;
    padding: 0px;
}
.page4-img img{
    height: 49px;
    width: 60px;
    padding: 0px;
}
.Time p{
    font-size: 18px;
}
.page5{
    height: 123px;
    width: 825px;
    /* padding: 0px 25px; */
    padding: 0px 20px;
    background-color: #ECC55C;
    border-radius: 25px; 
    align-items: center;
    margin-top: 10px;
    margin-left: 8px;
}
.page5-img{
    height: 57px;
    width: 67px;
    padding: 0px;
}
.page5-img img{
    height: 48px;
    width: 48px;
    padding: 0px;
}
 .funereal-page{
    width: 430px;
    margin: 0px;
    align-items: center;
}
.funereal-page p{
    padding: 10px;
    font-size: 18px;
}
.outer-work{
    display: flex;
    height: 48px;
    width:  100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    vertical-align: middle;
}
.work{
    margin: 0px;
}
  }
@media(max-width:880px){
    .page3{
        width:800px;
    }
    .page4{
        width:800px;
    }
    .page5{
        width:800px;
    }
}
 @media(max-width:860px){
    .page3{
        width:770px;
    }
    .page4{
        width:770px;
    }
    .page5{
        width:770px;
    }
} 
@media(max-width:820px){
    .page3{
        width:740px;
    }
    .page4{
        width:740px;
    }
    .page5{
        width:740px;
    }
} 
@media(max-width:790px){
    .page3{
        width:710px;
    }
    .page4{
        width:710px;
    }
    .page5{
        width:710px;
    }
} 
@media(max-width:760px){
    .page3{
        width:680px;
    }
    .page4{
        width:680px;
    }
    .page5{
        width:680px;
    }
} 
@media(max-width:730px){
    .page3{
        width:650px;
    }
    .page4{
        width:650px;
    }
    .page5{
        width:650px;
    }
} 
@media(max-width:700px){
    .page3{
        width:620px;
    }
    .page4{
        width:620px;
    }
    .page5{
        width:620px;
    }
} 
@media(max-width:665px){
    .page3{
        width:590px;
    }
    .page4{
        width:590px;
    }
    .page5{
        width:590px;
    }
}
@media(max-width:645px){
    .page3{
        width:560px;
    }
    .page4{
        width:560px;
    }
    .page5{
        width:560px;
    }
} 
@media(max-width:615px){
    .page3{
        width:520px;
    }
    .page4{
        width:520px;
    }
    .page5{
        width:520px;
    }
} 
@media(max-width:570px){
    .page3{
        width:480px;
    }
    .page4{
        width:480px;
    }
    .page5{
        width:480px;
    }
} 
@media(max-width:530px){
    .page3{
        width:440px;
    }
    .page4{
        width:440px;
    }
    .page5{
        width:440px;
    }
    .funereal-page{
        width:321px;
        
    }
     .funereal-page p{
        /* width:341px; */
        height: 21px;
        padding-top: 3px;
        padding-bottom: 0px;
    } 
} 
@media(max-width:490px){
    .page3{
        width:400px;
    }
    .page4{
        width:400px;
    }
    .page5{
        width:400px;
    }
} 
@media(max-width:450px){
    .page3{
        width:360px;
    }
    .page4{
        width:360px;
    }
    .page5{
        width:360px;
    }
} 
@media(max-width:430px){
    .Memorial-img img{
        width:100%;
    }
    .Memorial-Page{
        width:100%;
    }
    .page3{
        width:330px;
    }
    .page4{
        width:330px;
    }
    .page5{
        width:330px;
    }
     .financial{
        
        width: 280px;
       
    }
    .Time p{
        margin-top: -9px;
    } 
    .financial p{
        height: 22px;
        width: 280px;
    }
}
@media(max-width:390px){
    .Memorial-img img{
        width:100%;
    }
    .Memorial-Page{
        width:100%;
    }
}
@media(max-width:380px){
    .Memorial-img img{
        width:100%;
    }
    .Memorial-Page{
        width:100%;
    }
    .financial{
        
        width: 260px;
       
    }
    .financial p{
        height: 22px;
        width: 260px;
    }
    .page3{
        width:310px;
    }
    .page4{
        width:310px;
    }
    .page5{
        width:310px;
    }
}
@media(max-width:360px){
    .page3{
        width:290px;
    }
    .page4{
        width:290px;
    }
    .page5{
        width:290px;
    }
}

/* page4 responsive */
@media(max-width:913px){
    .outer-section1{
        width: 100%;
    }
    .section1{
        margin: 0px;
        height: 56px;
        width: 100%;
    }
    .heading2{
        margin: 38px 0px;
    }
    .heading2 h1{
        text-align: center;
        font-size: 45px;
   }
   .section2{
    height: auto;
    display: block;
    width: 100%;
   }
   .outer-details{
    height: 1157px;
    width: 100vw;
    /* justify-content: center;
    align-items: center; */
    padding: 0px;
   }
   .outer-details .img1{
     padding-left: 15px;
   }
   .sec2-img{
    height: 1006px;
    width:  100%;
   }
   .sec2-img img{
    height: 1006px;
    width: 817px;
    margin: 24px 0px 0px 0px;
    padding: 0px 0px 0px 40px;
   }
   .section3{
    margin: 30px 0px 0px 0px;
    height:127px;
    width:100%;
   }
   .heading3{
    height: 25px;
    width:100%;
   }
   .heading3 h2{
       font-size: 22px;
       text-align: center;
       font-weight: 800;
   }
   .para1{
    margin: 30px 0px 0px 0px;
    height: 42px;
    width:100%;
   }
   .para1 p{
    font-size: 19px;
    text-align: center;
   }
   .outer-money{
    height: 1157px;
    width: 100vw;
    /* justify-content: center;
    align-items: center; */
    padding: 0px;
   }
   .outer-money .img2{
    padding-left: 15px;
  }
  .sec3-img{
    height: 1006px;
    width:  100%;
   }
   .sec3-img img{
    height: 1006px;
    width: 817px;
    margin: 24px 0px 0px 0px;
    padding: 0px 0px 0px 40px;
   }
   .section4{
    margin: 30px 0px 0px 0px;
    height:127px;
    width:100%;
   }
   .heading4{
    height: 25px;
    width:100%;
   }
   .heading4 h2{
       font-size: 22px;
       text-align: center;
       font-weight: 800;
   }
   .para2{
    margin: 30px 0px 0px 0px;
    height: 42px;
    width:100%;
   }
   .para2 p{
    font-size: 19px;
    text-align: center;
   }
   .outer-publish{
    height: 1157px;
    width: 100vw;
    /* justify-content: center;
    align-items: center; */
    padding: 0px;
   }
   .outer-publish .img3{
    padding-left: 15px;
  }
  .sec4-img{
    height: 1006px;
    width:  100%;
   }
   .sec4-img img{
    height: 1006px;
    width: 817px;
    margin: 24px 0px 0px 0px;
    padding: 0px 0px 0px 40px;
   }
   .section5{
    margin: 30px 0px 0px 0px;
    height:127px;
    width:100%;
   }
   .heading5{
    height: 25px;
    width:100%;
   }
   .heading5 h2{
       font-size: 22px;
       text-align: center;
       font-weight: 800;
   }
   .para3{
    margin: 30px 0px 0px 0px;
    height: 42px;
    width:100%;
   }
   .para3 p{
    font-size: 19px;
    text-align: center;
   }
}
@media(max-width:855px){
    .sec2-img img{
        height: 990px;
        width: 800px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .sec3-img img{
        height: 990px;
        width: 800px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .sec4-img img{
        height: 990px;
        width: 800px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
}
@media(max-width:840px){
    .sec2-img img{
        height: 960px;
        width: 770px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .sec3-img img{
        height: 960px;
        width: 770px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .sec4-img img{
        height: 960px;
        width: 770px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
}
@media(max-width:810px){
    .sec2-img{
        height: 950px;
    }
    .sec2-img img{
        height: 930px;
        width: 720px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .sec3-img{
        height: 950px;
       }
       .sec3-img img{
        height: 930px;
        width: 720px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .sec4-img{
        height: 950px;
       }
       .sec4-img img{
        height: 930px;
        width: 720px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .section3{
        margin: 15px 0px 0px 0px;
       }
       .section4{
        margin: 15px 0px 0px 0px;
       }
       .section5{
        margin: 15px 0px 0px 0px;
       }
}
@media(max-width:760px){
    .outer-details{
        height: auto;
    }
    .sec2-img{
        height: 920px;
    }
    .sec2-img img{
        height: 880px;
        width: 660px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-money{
        height: auto;
    }
       .sec3-img{
        height: 920px;
    }
       .sec3-img img{
        height: 880px;
        width: 660px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-publish{
        height: auto;
    }
       .sec4-img{
        height: 920px;
    }
       .sec4-img img{
        height: 880px;
        width: 660px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
}
@media(max-width:700px){
    .outer-details{
        height: auto;
    }
    .sec2-img{
        height: 890px;
    }
    .sec2-img img{
        height: 850px;
        width: 610px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-money{
        height: auto;
    }
       .sec3-img{
        height: 890px;
    }
       .sec3-img img{
        height: 850px;
        width: 610px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-publish{
        height: auto;
    }
       .sec4-img{
        height: 890px;
    }
       .sec4-img img{
        height: 850px;
        width: 610px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
}
@media(max-width:650px){
    .outer-details{
        height: auto;
    }
    .sec2-img{
        height: 840px;
    }
    .sec2-img img{
        height: 800px;
        width: 580px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-money{
        height: auto;
    }
       .sec3-img{
        height: 840px;
    }
       .sec3-img img{
        height: 800px;
        width: 580px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-publish{
        height: auto;
    }
       .sec4-img{
        height: 840px;
    }
       .sec4-img img{
        height: 800px;
        width: 580px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
}
@media(max-width:620px){
    .outer-details{
        height: auto;
    }
    .sec2-img{
        height: 740px;
    }
    .sec2-img img{
        height: 700px;
        width: 530px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-money{
        height: auto;
    }
       .sec3-img{
        height: 740px;
    }
       .sec3-img img{
        height: 700px;
        width: 530px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-publish{
        height: auto;
    }
       .sec4-img{
        height: 740px;
    }
       .sec4-img img{
        height: 700px;
        width: 530px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
}
@media(max-width:570px){
    .outer-details{
        height: auto;
    }
    .sec2-img{
        height: 650px;
    }
    .sec2-img img{
        height: 600px;
        width: 450px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-money{
        height: auto;
    }
       .sec3-img{
        height: 650px;
    }
       .sec3-img img{
        height: 600px;
        width: 450px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-publish{
        height: auto;
    }
       .sec4-img{
        height: 650px;
    }
       .sec4-img img{
        height: 600px;
        width: 450px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
}
@media(max-width:490px){
    .outer-details{
        height: auto;
    }
    .sec2-img{
        height: 550px;
    }
    .sec2-img img{
        height: 500px;
        width: 360px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-money{
        height: auto;
    }
       .sec3-img{
        height: 550px;
    }
       .sec3-img img{
        height: 500px;
        width: 360px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-publish{
        height: auto;
    }
       .sec4-img{
        height: 550px;
    }
       .sec4-img img{
        height: 500px;
        width: 360px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
}
@media(max-width:400px){
    .outer-details{
        height: auto;
    }
    .sec2-img{
        height: 420px;
    }
    .sec2-img img{
        height: 400px;
        width: 300px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-money{
        height: auto;
    }
       .sec3-img{
        height: 420px;
    }
       .sec3-img img{
        height: 400px;
        width: 300px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-publish{
        height: auto;
    }
       .sec4-img{
        height: 420px;
    }
       .sec4-img img{
        height: 400px;
        width: 300px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
}
@media(max-width:360px){
    .outer-details{
        height: auto;
    }
    .para1 p {
        margin: 15px 0px 10px 10px;
    }
    .heading3 h2{
        font-size: 20px;
    }
    .sec2-img{
        height: 400px;
    }
    .sec2-img img{
        height: 380px;
        width: 300px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-money{
        height: auto;
    }
       .sec3-img{
        height: 400px;
    }
       .sec3-img img{
        height: 380px;
        width: 300px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
       .outer-publish{
        height: auto;
    }
       .sec4-img{
        height: 400px;
    }
       .sec4-img img{
        height: 380px;
        width: 300px;
        margin: 24px 0px 0px 0px;
        padding: 0px 0px 0px 40px;
       }
}

    
   
   
    
 






